<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name="sethulearning.mavensetup.Listeners"/>

</listeners>



  <test thread-count="5" name="Test">
  
  <parameter name="url" value="https://dev.joann.com"/>
  
   <groups>
  
  <run>
  
  <include name="Smoke"/>
  
  </run>
  
  </groups>
  
    <classes>
    
   
    
      <class name="sethulearning.mavensetup.BusinesslogiconeTest">
       
        
        
           </class>    
      <class name="sethulearning.mavensetup.BusinesslogictwoTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test1">
  <groups>
  
  <run>
  
  <include name="Smoke"/>
  
  </run>
  
  </groups>
    <classes>
      <class name="sethulearning.mavensetup.BusinesslogicthreeTest"/>
      <class name="sethulearning.mavensetup.BusinesslogicfourTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
